*{
    padding: 0;
    margin: 0;
}

:root{
    --sidebar-offset-right: -25vw;
    --sidebar-visibility: hidden; 
    --switch-btn-offset-dark: 0%;
    --switch-btn-offset-light: calc(100% - 41% - 2px);
    --switch-btn-color-dark: #307f69; 
    --switch-btn-color-light: #77EFA5; 
}

/* BACKGRROUND */

body{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);
}

.bodyfaker{
    z-index: 2;
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;

    background-image: linear-gradient(0deg, rgba(0,0,0, .85) 0%, rgba(0,0,0,.2) 100%);
}

/* NAVBAR */

.navbar{
    z-index: 3;
    width: 100%;
    height: 10vh;

    background-color: rgb(10, 10, 10);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-heading{
    font-size: 8vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;

    position: absolute;

    width: 30vw;
    height: 100%;

    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;


    background-image: linear-gradient(120deg, #9be15d 0%, #00e3ae 80%);
    background: #77EFA5;
    background: -webkit-linear-gradient(120deg, #9be15d 0%, #00e3ae 80%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#switch{
    z-index: 3;
    position: absolute;    
    left: 4vw;
    background-color: rgb(27, 27, 27);
    height: 4vh;
    width: 5vw;
    border-radius: 2vh;
}

#switch-btn{
    display: none;
    z-index: 4;
    background-color: var(--switch-btn-color-dark);
    border-radius: 3vh;
    height: 100%; 
    width: 41%;
    border: 2px solid white;
    position: absolute;
    top: -2px;
    left: var(--switch-btn-offset-dark);
}

.switch-btn-transition{
    transition: all .8s ease-in-out;
}

/* SIDEBAR */ 

.sidebar{
    z-index: 4;
    height: 60vh; 
    width: 17vw; 
    display: none;
    top: 10vh;
    right: -17vw;
    border-radius: 0px 0px 0px 20px;
    background-color: rgba(27, 27, 27, .85);
    transition: transform 2s ease-in-out;
    position: fixed;
}

.sidebar-out{
    display: block;
    transform: translate(-17vw, 0px);
}

#sidebar-btn{
    z-index: 3;
    position: absolute;
    right: 2vw; 
    font-size: 4.5vh;
    color: rgb(180,180,180);
    cursor: pointer;
}

#sidebar-btn:hover{
    color: rgb(150, 150, 150);
}

#sidebar-list li{
    z-index: 6;
    font-size: clamp(.3rem, 2.5vh, 5rem);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
    color: white;
    padding: 3vh;
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    list-style: none;
    cursor: pointer;
}

#sidebar-list li:hover{
    text-decoration: underline;
    background-color: black ;
}

/* FOOTER */

.footer{
    z-index: 6;
    width: 100%;
    height: 30vh;
    
    position: absolute;
    top: 100vh;

    display: flex;
    justify-content: center;

    background-color: black;    
}

#footer-text-1{
    position: absolute;
    top: 5vh;
    z-index: 7;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2vh;
    text-align: center;
    color: white;
}

.footer-ressources{
    z-index: 7;
    position: absolute; 
    width: 90vw;
    left: 5vw;
    top: 10vh; 

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.75vh;
    text-align: center; 
    display: flex;
    justify-content: center;
}

.footer-ressources a{
    color: white;
    height: 3vh;
    text-decoration: none;
    background-color: rgb(14, 14, 14);
    padding: 1.5vh;
    transition: all .08s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer-ressources a:hover{
    text-decoration: underline;    
    transform: scale(1.25);
}

#footer-text-2{
    z-index: 7;
    position: absolute;
    top: 25vh;
    left: 2vw;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2vh;
    text-align: center;
    color: white;
}





/* the index page begins here */

.index-aboutSection{
    z-index: 3;
    position: absolute;
    width: 60vw;
    height: 50vh; 
    top: 30vh;
    left: 20vw;
    border-radius: 3vh;
    display: flex; 
    justify-content: center;

    background-color: rgba(27, 27, 27, .5);
}

#index-aboutSection-headline{
    z-index: 4;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 5vh;
    color: black;
    position: absolute;
    top: 5vh;
    color: white;
}

.index-aboutSection-text{
    z-index: 4;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3vh;
    text-align: center;
    position: absolute; 
    top: 15vh; 
    color: white;
    padding: 4vh 4vw;
}

#index-aboutSection-text-2, #index-aboutSection-text-3, #index-aboutSection-text-4{
    display: none;
}


.index-aboutSection-btn{
    z-index: 6;
    position: absolute;
    height: 7vh;
    width: 7vh;
    top: 21.5vh;
    background-color: black;
    border-radius: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    color:rgb(150, 150, 150);

    font-size: 5vh;
    transition: all .1s ease-in-out;
}

.index-aboutSection-btn:hover{
    transform: scale(1.25); 
    color: white; 
}

#index-aboutSection-btn-toRight{
    right: 2vh;
}
#index-aboutSection-btn-toLeft{
    left: 2vh;
}





/* home */ 

#home-body{
    background-image: none;
    background-color: #16191d;
}

.home-body-light{
    background-color: aliceblue;
}

#home-bodyfaker{
    background-image: none;
}

.home-timer{
    z-index: 4;
    position: absolute;
    top: 11vh;
    left: 10vw;
    
    width: 80vw;
    height: 20vh;

    background-color: #000111;
    border-radius: 1vh;
}

.home-timer-switch{
    z-index: 5;
    width: 50%;
    height: 30%;

    background-color: #00011A;

    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 5vh;
    justify-items: center;
    align-items: center;
}

#home-timer-switch-btn{
    z-index: 6;
    text-align: center;
    align-content: center;
    justify-content: center;
}